In [1]:
"""

"""
import requests
import json
import pandas as pd
import pyodbc
from urllib.parse import quote_plus
from sqlalchemy import create_engine
from sqlalchemy.orm.session import sessionmaker

conn_string = 'DRIVER={ODBC Driver 17 for SQL Server};SERVER=192.168.189.71;DATABASE=Dokuchaev;UID=sa;PWD=As12345^'
quoted = quote_plus(conn_string)
new_conn_string = 'mssql+pyodbc:///?odbc_connect={}'.format(quoted)
engine = create_engine(new_conn_string)

In [2]:
stores = pd.read_sql('SELECT * FROM dwh_bel.stores_mapping', engine)

In [3]:
%%time
pay = pd.read_sql('SELECT * FROM dwh_bel.sales_order_pay', engine)

Wall time: 18.4 s

In [4]:
%%time
base = pd.read_sql('SELECT * FROM dwh_bel.sales_order_base', engine)

Wall time: 34.2 s

In [5]:
stores

                          iiko_store_id             full_name
0  a059c71e-73b8-423c-86f4-9d9772710307        Склад Дом Быта
1  60e07eba-b788-417d-9006-efdfc4d6c65a  Склад Каменная горка
2  195dec56-5f26-4c6e-a60f-38715fd03fc8       Склад Немига 12
3  402e8498-1d17-429c-bc41-f1409f7b8bed    Склад Партизанский
4  7cd44cc2-8429-4111-b128-c62b5688a088  Склад Притыцкого 146
5  3035c270-3685-4158-b8df-012349768ee7  Склад Сурганова 50\1
6  6fd24181-7a49-49a4-8201-28d2eb644cc6        Склад Уманская
7  f873fa85-38c1-4714-bb4e-79fb7db1c5f4     Склад Хмельницкая

In [6]:
stores = stores[['iiko_store_id','full_name']]

In [7]:
stores = stores.set_index('iiko_store_id')
stores.index.name = None
stores

                                                 full_name
a059c71e-73b8-423c-86f4-9d9772710307        Склад Дом Быта
60e07eba-b788-417d-9006-efdfc4d6c65a  Склад Каменная горка
195dec56-5f26-4c6e-a60f-38715fd03fc8       Склад Немига 12
402e8498-1d17-429c-bc41-f1409f7b8bed    Склад Партизанский
7cd44cc2-8429-4111-b128-c62b5688a088  Склад Притыцкого 146
3035c270-3685-4158-b8df-012349768ee7  Склад Сурганова 50\1
6fd24181-7a49-49a4-8201-28d2eb644cc6        Склад Уманская
f873fa85-38c1-4714-bb4e-79fb7db1c5f4     Склад Хмельницкая

In [8]:
pay = pay[['UniqOrderId.Id','VAT.Sum', 'DiscountSum']]
pay = pay.set_index('UniqOrderId.Id')
pay.index.name = None
pay

                                      VAT.Sum  DiscountSum
00000d08-e72f-425d-aaf3-949de1287c62      0.0         0.00
00000f04-0f1f-4f6f-8349-bc9b153bf23f      0.0         0.00
00001d3b-0cce-4e81-9dde-b235099efaf8      0.0         0.00
00005b21-3e90-4365-aaf1-95255ff8520e      0.0         0.00
00006508-7cda-4007-afc9-2e6e49ee9c4f      0.0         0.00
...                                       ...          ...
fffeaf85-1ea1-4ee7-8f4d-03bb0e629736      0.0         1.49
ffff0caa-007c-42dc-ba2f-bcac6606f399      0.0         0.00
ffff3123-bf20-42ab-ae11-1889e1a660a6      0.0         0.00
ffffb859-1af4-46fb-a6ba-a9784f89284a      0.0         0.00
ffffd1c5-e976-47fa-b340-7432baa67f88      0.0         0.00

[426698 rows x 2 columns]

In [9]:
base

,chain_code,UniqOrderId.Id,OpenDate.Typed,OpenTime,CloseTime,OrderDeleted,OrderItems,fullSum,Storned,Store.Id,Department.Id
0,5,00000d08-e72f-425d-aaf3-949de1287c62,2020-01-19,2020-01-19 12:22:42,2020-01-19 12:23:12.335,NOT_DELETED,2,4.0,FALSE,60e07eba-b788-417d-9006-efdfc4d6c65a,79f41eaf-57b7-4721-babd-b58c5f0176b1
1,5,00000f04-0f1f-4f6f-8349-bc9b153bf23f,2020-09-24,2020-09-24 17:16:44,2020-09-24 17:16:58.946,NOT_DELETED,1,1.5,FALSE,402e8498-1d17-429c-bc41-f1409f7b8bed,497f5ea2-82c9-4cb2-b6f8-039e6e1f1627
2,5,00001d3b-0cce-4e81-9dde-b235099efaf8,2020-05-21,2020-05-21 15:06:52,2020-05-21 15:07:39.648,NOT_DELETED,1,2.5,FALSE,402e8498-1d17-429c-bc41-f1409f7b8bed,497f5ea2-82c9-4cb2-b6f8-039e6e1f1627
3,5,00005b21-3e90-4365-aaf1-95255ff8520e,2020-01-22,2020-01-22 10:10:36,2020-01-22 10:11:51.188,NOT_DELETED,2,5.5,FALSE,402e8498-1d17-429c-bc41-f1409f7b8bed,497f5ea2-82c9-4cb2-b6f8-039e6e1f1627
4,5,00006508-7cda-4007-afc9-2e6e49ee9c4f,2020-10-03,2020-10-03 17:36:42,2020-10-03 17:37:26.486,NOT_DELETED,2,1.5,FALSE,402e8498-1d17-429c-bc41-f1409f7b8bed,497f5ea2-82c9-4cb2-b6f8-039e6e1f1627
...,...,...,...,...,...,...,...,...,...,...,...
426695,5,fffeaf85-1ea1-4ee7-8f4d-03bb0e629736,2020-09-20,2020-09-20 18:08:19,2020-09-20 18:08:32.196,NOT_DELETED,1,1.5,FALSE,60e07eba-b788-417d-9006-efdfc4d6c65a,79f41eaf-57b7-4721-babd-b58c5f0176b1
426696,5,ffff0caa-007c-42dc-ba2f-bcac6606f399,2020-04-15,2020-04-15 09:57:36,2020-04-15 09:57:43.580,NOT_DELETED,1,2.5,FALSE,402e8498-1d17-429c-bc41-f1409f7b8bed,497f5ea2-82c9-4cb2-b6f8-039e6e1f1627
426697,5,ffff3123-bf20-42ab-ae11-1889e1a660a6,2020-03-05,2020-03-05 11:48:21,2020-03-05 11:48:31.767,NOT_DELETED,1,2.5,FALSE,60e07eba-b788-417d-9006-efdfc4d6c65a,79f41eaf-57b7-4721-babd-b58c5f0176b1
426698,5,ffffb859-1af4-46fb-a6ba-a9784f89284a,2020-03-01,2020-03-01 10:11:01,2020-03-01 10:12:18.126,NOT_DELETED,5,6.5,FALSE,402e8498-1d17-429c-bc41-f1409f7b8bed,497f5ea2-82c9-4cb2-b6f8-039e6e1f1627
426699,5,ffffd1c5-e976-47fa-b340-7432baa67f88,2020-01-19,2020-01-19 09:29:02,2020-01-19 09:29:43.158,NOT_DELETED,4,4.5,FALSE,60e07eba-b788-417d-9006-efdfc4d6c65a,79f41eaf-57b7-4721-babd-b58c5f0176b1

In [10]:
base = base[['UniqOrderId.Id', 'OpenDate.Typed', 'OrderDeleted', 'fullSum', 'Storned', 'Store.Id']]

In [11]:
base = base.loc[(base.Storned == 'FALSE') & (base.OrderDeleted == 'NOT_DELETED')]
base = base[['UniqOrderId.Id', 'OpenDate.Typed', 'fullSum', 'Store.Id']]
base = base.set_index('UniqOrderId.Id')
base.index.name = None
base

,OpenDate.Typed,fullSum,Store.Id
00000d08-e72f-425d-aaf3-949de1287c62,2020-01-19,4.0,60e07eba-b788-417d-9006-efdfc4d6c65a
00000f04-0f1f-4f6f-8349-bc9b153bf23f,2020-09-24,1.5,402e8498-1d17-429c-bc41-f1409f7b8bed
00001d3b-0cce-4e81-9dde-b235099efaf8,2020-05-21,2.5,402e8498-1d17-429c-bc41-f1409f7b8bed
00005b21-3e90-4365-aaf1-95255ff8520e,2020-01-22,5.5,402e8498-1d17-429c-bc41-f1409f7b8bed
00006508-7cda-4007-afc9-2e6e49ee9c4f,2020-10-03,1.5,402e8498-1d17-429c-bc41-f1409f7b8bed
...,...,...,...
fffeaf85-1ea1-4ee7-8f4d-03bb0e629736,2020-09-20,1.5,60e07eba-b788-417d-9006-efdfc4d6c65a
ffff0caa-007c-42dc-ba2f-bcac6606f399,2020-04-15,2.5,402e8498-1d17-429c-bc41-f1409f7b8bed
ffff3123-bf20-42ab-ae11-1889e1a660a6,2020-03-05,2.5,60e07eba-b788-417d-9006-efdfc4d6c65a
ffffb859-1af4-46fb-a6ba-a9784f89284a,2020-03-01,6.5,402e8498-1d17-429c-bc41-f1409f7b8bed
ffffd1c5-e976-47fa-b340-7432baa67f88,2020-01-19,4.5,60e07eba-b788-417d-9006-efdfc4d6c65a

In [12]:
base = base.join(pay).join(stores, on='Store.Id')

In [13]:
base = base.drop(columns=['Store.Id', 'VAT.Sum'])[['full_name', 'OpenDate.Typed', 'fullSum', 'DiscountSum']]

In [14]:
base

,full_name,OpenDate.Typed,fullSum,DiscountSum
00000d08-e72f-425d-aaf3-949de1287c62,Склад Каменная горка,2020-01-19,4.0,0.00
00000f04-0f1f-4f6f-8349-bc9b153bf23f,Склад Партизанский,2020-09-24,1.5,0.00
00001d3b-0cce-4e81-9dde-b235099efaf8,Склад Партизанский,2020-05-21,2.5,0.00
00005b21-3e90-4365-aaf1-95255ff8520e,Склад Партизанский,2020-01-22,5.5,0.00
00006508-7cda-4007-afc9-2e6e49ee9c4f,Склад Партизанский,2020-10-03,1.5,0.00
...,...,...,...,...
fffeaf85-1ea1-4ee7-8f4d-03bb0e629736,Склад Каменная горка,2020-09-20,1.5,1.49
ffff0caa-007c-42dc-ba2f-bcac6606f399,Склад Партизанский,2020-04-15,2.5,0.00
ffff3123-bf20-42ab-ae11-1889e1a660a6,Склад Каменная горка,2020-03-05,2.5,0.00
ffffb859-1af4-46fb-a6ba-a9784f89284a,Склад Партизанский,2020-03-01,6.5,0.00
ffffd1c5-e976-47fa-b340-7432baa67f88,Склад Каменная горка,2020-01-19,4.5,0.00

In [15]:
base['OpenDate.Typed'] = pd.to_datetime(base['OpenDate.Typed'], format='%Y-%m-%d')

In [16]:
base['year'] = base['OpenDate.Typed'].dt.year
base['month'] = base['OpenDate.Typed'].dt.month
base['day'] = base['OpenDate.Typed'].dt.day

In [17]:
base = base[['full_name', 'year', 'month', 'day', 'fullSum', 'DiscountSum']]
base

,full_name,year,month,day,fullSum,DiscountSum
00000d08-e72f-425d-aaf3-949de1287c62,Склад Каменная горка,2020,1,19,4.0,0.00
00000f04-0f1f-4f6f-8349-bc9b153bf23f,Склад Партизанский,2020,9,24,1.5,0.00
00001d3b-0cce-4e81-9dde-b235099efaf8,Склад Партизанский,2020,5,21,2.5,0.00
00005b21-3e90-4365-aaf1-95255ff8520e,Склад Партизанский,2020,1,22,5.5,0.00
00006508-7cda-4007-afc9-2e6e49ee9c4f,Склад Партизанский,2020,10,3,1.5,0.00
...,...,...,...,...,...,...
fffeaf85-1ea1-4ee7-8f4d-03bb0e629736,Склад Каменная горка,2020,9,20,1.5,1.49
ffff0caa-007c-42dc-ba2f-bcac6606f399,Склад Партизанский,2020,4,15,2.5,0.00
ffff3123-bf20-42ab-ae11-1889e1a660a6,Склад Каменная горка,2020,3,5,2.5,0.00
ffffb859-1af4-46fb-a6ba-a9784f89284a,Склад Партизанский,2020,3,1,6.5,0.00
ffffd1c5-e976-47fa-b340-7432baa67f88,Склад Каменная горка,2020,1,19,4.5,0.00

In [18]:
orders = base.groupby(by=['full_name', 'year', 'month'], as_index= False).count()[['fullSum']].rename(columns={'fullSum': 'orders'})
pivot = base.groupby(by=['full_name', 'year', 'month'], as_index= False).sum().join(orders)

In [19]:
pivot = pivot[['full_name', 'year', 'month', 'orders', 'fullSum', 'DiscountSum']].copy()
pivot.columns = ['name', 'year', 'month', 'orders', 'sales', 'discount']
pivot['sales'] = pivot.sales - pivot.discount

In [20]:
pivot

                 name  year  month  orders     sales  discount
0      Склад Дом Быта  2019     10    3192   9790.50    306.50
1      Склад Дом Быта  2019     11    7214  21713.50    801.50
2      Склад Дом Быта  2019     12    7218  21864.13    290.37
3      Склад Дом Быта  2020      1    6165  18246.46    759.04
4      Склад Дом Быта  2020      2    6928  20603.63    624.37
..                ...   ...    ...     ...       ...       ...
58  Склад Хмельницкая  2020      6    4255  13465.84    257.66
59  Склад Хмельницкая  2020      7    4516  14147.67    296.83
60  Склад Хмельницкая  2020      8    4548  14665.79    356.21
61  Склад Хмельницкая  2020      9   10336  31894.32    375.87
62  Склад Хмельницкая  2020     10    1156   3631.74     33.20

[63 rows x 6 columns]

In [21]:
# base.to_excel('G:/Мой диск/04 FS/2020 M 07/PL_sell_out_2020-08-03.xlsx',  index=False)
pivot.to_sql('sales_belarus_new_tb', engine, schema = 'dbo', if_exists='replace', chunksize=None, index=False)

In [22]:
base[(base.full_name == 'Склад Уманская') & (base.month == 7) ].sort_values(by='day', ascending=False)

,full_name,year,month,day,fullSum,DiscountSum
002b5a23-a6de-4c01-8423-286d2b0634aa,Склад Уманская,2020,7,31,2.5,0.0
a310c8b1-c244-45fd-bd30-78b60b36b721,Склад Уманская,2020,7,31,4.0,0.0
c4e18228-6669-4cc9-a80c-111287b1dab5,Склад Уманская,2020,7,31,2.5,0.0
be2db8a9-a5af-4247-a0dc-e160ae455822,Склад Уманская,2020,7,31,3.5,0.0
bdca8bc2-5d7e-4b8a-92d4-235feb1d24f5,Склад Уманская,2020,7,31,3.0,0.0
...,...,...,...,...,...,...
53b7fb8d-3f22-4873-a3ce-d96795ac9579,Склад Уманская,2020,7,31,5.0,0.0
528fee06-4d70-4bbc-915b-67add52be726,Склад Уманская,2020,7,31,5.0,0.0
4f57dc6f-a86c-468b-b675-7d4b7ad18766,Склад Уманская,2020,7,31,1.5,0.0
4ec713c9-62a7-4d6b-a64b-1262839837ef,Склад Уманская,2020,7,31,2.5,0.0
fe0e20e5-752d-43c9-bb20-198d57205da0,Склад Уманская,2020,7,31,3.5,0.0