In [1]:
import pandas as pd
import re
from collections import Counter

In [2]:
statment = pd.read_excel('G:/Мой диск/04 FS/2020 M 07/PL/ACCOUNTS-HISTORY_3193937_20200805_144529_17412581.xls')

In [3]:
statment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 669 entries, 0 to 668
Data columns (total 8 columns):
Data operacji        669 non-null object
Data waluty          669 non-null object
Dane operacji        669 non-null object
Typ operacji         669 non-null object
Kwota                669 non-null float64
Waluta               669 non-null object
Saldo po operacji    669 non-null float64
Waluta.1             669 non-null object
dtypes: float64(2), object(6)
memory usage: 41.9+ KB

In [4]:
statment.head()

,Data operacji,Data waluty,Dane operacji,Typ operacji,Kwota,Waluta,Saldo po operacji,Waluta.1
0,2020-08-05,2020-08-05,Rachunek kontrahenta: 33 1140 2105 0000 2331 8...,Wpływ na rachunek,799.00,PLN,22037.14,PLN
1,2020-08-05,2020-08-05,Tytuł: OPŁATA PRZELEW ZEW.DOWOL.|Identyfikator...,Opłata,-0.75,PLN,21238.14,PLN
2,2020-08-05,2020-08-05,Rachunek kontrahenta: 53 1160 2202 0000 0003 0...,Przelew z rachunku,-3587.00,PLN,21238.89,PLN
3,2020-08-05,2020-08-05,Rachunek kontrahenta: 83 1020 1097 0000 7402 0...,Przelew z rachunku,-1377.50,PLN,24825.89,PLN
4,2020-08-05,2020-08-05,Tytuł: OPŁATA PRZELEW ZEW.DOWOL.|Identyfikator...,Opłata,-0.75,PLN,26203.39,PLN

In [5]:
statment = statment.iloc[:,:-1]
statment.columns = ['date', 'value_date', 'description', 'type', 'amount', 'currency', 'balance']

In [6]:
statment.head()

,date,value_date,description,type,amount,currency,balance
0,2020-08-05,2020-08-05,Rachunek kontrahenta: 33 1140 2105 0000 2331 8...,Wpływ na rachunek,799.00,PLN,22037.14
1,2020-08-05,2020-08-05,Tytuł: OPŁATA PRZELEW ZEW.DOWOL.|Identyfikator...,Opłata,-0.75,PLN,21238.14
2,2020-08-05,2020-08-05,Rachunek kontrahenta: 53 1160 2202 0000 0003 0...,Przelew z rachunku,-3587.00,PLN,21238.89
3,2020-08-05,2020-08-05,Rachunek kontrahenta: 83 1020 1097 0000 7402 0...,Przelew z rachunku,-1377.50,PLN,24825.89
4,2020-08-05,2020-08-05,Tytuł: OPŁATA PRZELEW ZEW.DOWOL.|Identyfikator...,Opłata,-0.75,PLN,26203.39

In [7]:
statment.date = pd.to_datetime(statment.date)
statment.value_date = pd.to_datetime(statment.value_date)

In [8]:
statment = statment.drop(columns=['value_date', 'currency'])

In [9]:
statment.head()

,date,description,type,amount,balance
0,2020-08-05,Rachunek kontrahenta: 33 1140 2105 0000 2331 8...,Wpływ na rachunek,799.00,22037.14
1,2020-08-05,Tytuł: OPŁATA PRZELEW ZEW.DOWOL.|Identyfikator...,Opłata,-0.75,21238.14
2,2020-08-05,Rachunek kontrahenta: 53 1160 2202 0000 0003 0...,Przelew z rachunku,-3587.00,21238.89
3,2020-08-05,Rachunek kontrahenta: 83 1020 1097 0000 7402 0...,Przelew z rachunku,-1377.50,24825.89
4,2020-08-05,Tytuł: OPŁATA PRZELEW ZEW.DOWOL.|Identyfikator...,Opłata,-0.75,26203.39

In [10]:
df = statment.copy()
df.head()

,date,description,type,amount,balance
0,2020-08-05,Rachunek kontrahenta: 33 1140 2105 0000 2331 8...,Wpływ na rachunek,799.00,22037.14
1,2020-08-05,Tytuł: OPŁATA PRZELEW ZEW.DOWOL.|Identyfikator...,Opłata,-0.75,21238.14
2,2020-08-05,Rachunek kontrahenta: 53 1160 2202 0000 0003 0...,Przelew z rachunku,-3587.00,21238.89
3,2020-08-05,Rachunek kontrahenta: 83 1020 1097 0000 7402 0...,Przelew z rachunku,-1377.50,24825.89
4,2020-08-05,Tytuł: OPŁATA PRZELEW ZEW.DOWOL.|Identyfikator...,Opłata,-0.75,26203.39

In [11]:
df.description = df.description.apply(lambda x: {item.split(':')[0]: item.split(':')[1] for item in x[:-1].split('|') if ':' in item})
#df.description = df.description.apply(lambda x: [item for item in x[:-1].split('|')])

In [12]:
new_columns = list(set(df.description.apply(lambda x: list(x.keys())).sum()))

In [13]:
for column in new_columns:
    df[column] = df.description.apply(lambda x: x[column] if column in list(x.keys()) else None)
df = df.drop(columns='description')

In [14]:
df.to_excel('G:/Мой диск/04 FS/2020 M 07/PL/ACCOUNTS-HISTORY.xlsx',  index=False)